.registerPaper {
  background-color: white !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 8px -4px rgba(0, 0, 0, 2);
  border-radius: 15px;
  width: 100% !important;
  height: 70% !important;
  /* margin-bottom: 0px;
    margin-top: 5%;
    margin-left: 35% !important; */
  font-weight: lighter !important;
  font-family: 'Montserrat', sans-serif !important;
  text-transform: none;
}
.registerAvatar {
  margin-top: -15px;
  margin-bottom: 5px;
}
.registerForm {
  padding: 80px;
  flex: 1;
  justify-content: space-between;
  width: 100%;
  margin-top: -15%;
  margin-bottom: -50px !important;
  font-weight: lighter !important;
  font-family: 'Montserrat', sans-serif !important;
  text-transform: none;
}
.registerDiv {
  display: flex;
  justify-content: space-evenly;
  height: 700px;
  background-image: url(https://greaterkansascity.ja.org/dA/dcc9112e7e/banner/programs_background.png/1200w/jpeg/80);
  background-size: cover;
  background-position: cover;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100%;
  position: relative;
  z-index: 1;
}
.registerButton {
  margin-top: 10px !important;
  background-color: #008751 !important;
  font-weight: bolder !important;
  font-family: 'Montserrat', sans-serif !important;
  text-transform: none;
}
.loginButton {
  margin-bottom: -10px !important;
  background-color: #008751;
  font-weight: bolder !important;
  font-family: 'Montserrat', sans-serif !important;
  text-transform: none;
}
.registerCard {
  width: 100% !important;
  height: 100%;
  justify-content: space-around !important;
  display: flex;
  flex-direction: column;
  background-position: left;
  background-color: transparent !important;
}
.registerArrow {
  margin-top: 15px !important;
  margin-right: 60%;
  transform: scale(1.8);
  color: white;
}
.registerHome {
  color: black;
  transform: scale(2);
}
.registerTitle {
  color: black;
}
